* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
   background-image: linear-gradient(to bottom, #F4F6FF, #dee1ee); 
}

:target {
    scroll-margin-top: 0.8em;
}


/*Menu*/

.horario, .menu, a, .lista{
    text-decoration: none;
    color: #F4F6FF;
    font-family: 'Roboto', sans-serif;
}

a {
    font-size: 1em;
    transition: 0.1s;   
}

a:hover {
    color: #5C68A9;
}

.botao {
    background-color: #459B43;
    padding: 10px 20px;
    border-radius: 3px;
    transition: 0.3s;
}

.botao:hover {
    color: white;
    background-color: #4cad48;
}

strong {
    color: #000628;;
}

.horario {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    flex: 1 1 200px;
    justify-content: flex-start;
    max-width: 100vw;
    margin: 0 auto;
    padding: 15px;
    padding-left: 100px;
    background-image: linear-gradient(to bottom, #5C68A9, #525d9e);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px;
    max-width: 100vw;
    margin: 0 auto;
    padding: 30px;
    padding-left: 100px;
    background-image: linear-gradient(to bottom,  #223280 ,#0D1749);
    justify-content: space-between;
    margin-bottom: 80px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px;
    list-style: none;
    max-width: 100vw;
    font-weight: bold;
    padding-right: 45px;
    justify-content: flex-end;
    align-content: center;
    gap: 25px;
}

.icone {
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-style: italic;  
}

.icone a {
    color: #F4F6FF;
}

h1 {
    font-size: 2.7rem;
}

/*Detalhes*/

.detalhe, .detalhe2 {
    display: none;
}


/*Sobre*/

#sobre {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    max-width: 90vw;
    margin: 0 auto 0 0;
    justify-content: center;
    align-content: center;
    padding: 40px;
    padding-left: 60px;  
    padding-right: 60px;
    margin-bottom: 70px;
}

.linha {
    border-bottom: 2px solid #AAB3E0;
    border-radius: 3px;
    width: 100vw;
    margin-top: 60px;
}

.linha2 {
    width: 2px;
    height: 110px;
    border-left: 2px solid #081038;
    border-radius: 3px;
    margin-left: -10px;
    margin-bottom: -110px;
}

.corpo {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    text-align: left;
    max-width: 60ch;
    color: #000628;
    margin-right: 80px;
    justify-content: flex-start;   
}

.corpo h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.corpo p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
}


/*Imagens*/

.imagem {
    display: flex;
    flex: 1 1 auto;
    max-width: 600px;
    max-height: 900px;
    gap: 30px; 
}

.imagem2 {
    display: flex;
    flex: 1 1 auto;
    max-width: 395px;
    max-height: 700px;
    gap: 30px; 
    margin-top: -50px;
    margin-left: 20px;
}

img {
    max-width: 100%;
}

/*Cursos*/

#cursos {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    max-width: 100vw;
    margin: 10px auto 50px auto;
    justify-content: center;
    align-content: center;
    padding: 40px;
    padding-left: 100px; 
}

.corpo2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    max-width: 100vw;
    color: #000628;
}

.corpo2 p {
    padding-top: 90px;
    margin-left: -155px;
    max-width: 25em;
}

.corpo2 h2, .cursos-itens h2, .corpo3 h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
    justify-content: flex-start;
}

.corpo2 p, .corpo3 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
    flex-direction: row;
}


/*lista de cursos*/

.cursos-itens {
    background-image: linear-gradient(to bottom, #E2E7FF, #d7ddee);
    border: 1px solid #d0d4e9;
    box-shadow: 2px 2px 5px #54597434;
    border-radius: 3px;
    padding: 40px;
    margin: 60px 30px;
    flex: 1 1 auto;
    max-width: 25vw;
    position: relative;
}

.cursos-itens::before {
    content: " ";
    width: 6px;
    height: 50px;
    background-color: #5C68A9;
    border-radius: 3px;
    position: absolute;
    top: 40px;
    left: -4px;   
}

.cursos-itens p {
    padding-bottom: 30px;
    align-items: flex-end;
}

.cursos-itens p, .cursos-itens a{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #000834;
}

.correto::before {
    content: url(icones/correto-verde.svg);
    width: 14px;
    height: 14px;
    padding-right: 8px;
}

.cursos-itens a {
    background-color: #000834;  
    color: #F4F6FF;
    padding: 12px 35px;
    border: 1px solid #010a3f;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #4c5eb82c;
}

.corpo2 p {
    margin-bottom: 100px;
    margin-left: -150px;
    margin-top: 20px;
}

.botao2 {
    margin-left: 75px;
    display: block;
}

.matricula {
    color: white;
    transition: 0.3s;
}

.matricula:hover {
    background-color: #1a1f49;
}

/*Duvidas*/

#duvidas {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    max-width: 100vw;
    margin: 0 auto 0 0;
    justify-content: flex-start;
    padding: 40px;
    padding-left: 100px;
    margin-bottom: 50px;
}

.corpo3 {
    margin-bottom: 70px;
}

.pergunta {
    border: 1px solid #bec3dd;
    box-shadow: 1px 1px 6px #7683c534;
    border-radius: 3px;
    background-color: #E2E7FF;
    flex: 1 1 auto;
    color: #000628;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    width: 79vw;
    margin: 0 60px 0 auto;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
}

.pergunta-lista {
    list-style: none;
}

.pergunta::after {
    content: url(icones/expandir-mais.svg);
    display: block;
    width: 32px;
    float: right;
    position: absolute;
    right: 20px;
    top: 30px;
    transition: 0.3s ease;
}

.pergunta p {
    display: none;
    font-size: 1.1rem;
    font-weight: normal;
    color: #000628;
    margin-top: 10px;
    line-height: 1.4; 
}

.pergunta h3 {
    padding-right: 5px;
    box-sizing: border-box;
    margin-right: 50px;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
}

.pergunta::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 5px;
    background-color: #5C68A9;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    left: 20px;   
}

.pergunta h3:first-child {
    margin-right: 20px;
}

#duvidas input {
    display: none;
}

#duvidas input:checked + .pergunta p {
    display: block; 
}

#duvidas input:checked + .pergunta::after {
    transform: rotate(180deg);
    right: 30px;
}

/*Matricula*/

#matricula {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    max-width: 100vw;
    margin: 0 auto;
    justify-content: flex-start;
    padding: 70px;
    padding-left: 100px;
    margin-top: 10px;
    background-color: #D2D7F6;
}

.corpo4 {
    flex: 1 1 auto; 
    max-width: 90vw;
}

.corpo4 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.corpo4 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    line-height: 1.3;
}

label {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px;
    justify-content: space-between;
}

.email {
    flex: 2 1 90px;
    flex-wrap: wrap;
    padding: 20px 30px;
    margin-top: 50px;
    width: 90px;
    text-align: start;
    font-size: 1.2rem; 
    border: 1px solid #D2D7F6;
    box-shadow: 1px 1px 3px #c1c6e72d;
    border-radius: 3px 0px 0px 3px;  
}

.email:focus {
    outline: none;
    border-color: #cfd0d4;
    box-shadow: 0 0 0 1px #cbcccf;
}

.enviar {
    flex: 1 2 100px;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 61px;
    padding: 15px 30px; 
    text-align: center; 
    background-color: #459B43;
    color: white;
    margin-left: -4px;
    margin-top: 51px;
    border: 1px solid #459B43;
    box-shadow: 1px 1px 1px #459B43;
    border-radius: 3px 0px 3px 0px;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
}

.enviar:hover {
    background-color: #3b8839;
}

/*Footer*/

.footer {
    display: flex;
    flex-wrap: wrap; 
    flex: 1 1 auto;
    flex-direction: row;
    max-width: 100vw;
    background-image: linear-gradient(to bottom,#0D1749, #081038);
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    padding-left: 100px;
}

.info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 20px;
    text-decoration: none; 
}

.info p {
    display: block;
    margin-top: 5px;  
}

.numero {
    margin-bottom: -20px;
}

@-moz-document url-prefix() {
    .numero {
        margin-bottom: 0;
    }
}

.footer h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #F4F6FF
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;   
    color: #b8b8b8;
    
}

.rede-social-container {
    flex-direction: row;
}

.rede-social img {
    height: 25px;
    width: 25px;
    padding: 6px;
    margin-left: -6px;
}


.icone-footer {
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
    color: #b8b8b8;
    margin-right: 110px;
    margin-top: 10px;
    user-select: none;
}

.criado {
    width: 100vw;
    text-align: center; 
    margin-top: 30px;
    margin-bottom: -30px;
    flex-direction: row;
}

.criado a {
    color: #b8b8b8;  
}

.criado a:hover {
    color: #474747;
}




/*Alterações Variadas*/

@media (min-width: 2000px) {
    .detalhe, .detalhe2 {
        display: inline;
        margin: 0 auto 0 100px;
        font-size: 7rem;
        max-width: 100ch;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #d3d6ecce;    
    }

    #cursos {
        margin-left: -20px;
    }
}

@media (min-width: 1600px) {
    #sobre {
        justify-content: flex-start;
    }

    .corpo2 {
        width: 100vw;
    }

    .imagem2 {
        width: 100%;
    }

    .cursos-itens {
        max-width: 500px;
    }
}


@media (min-width: 850px)  {
    #sobre {
        margin-left: -70px;
    }

    .cursos-itens {
        padding: -10px;
    }

    .botao2 {
        margin: 0 auto;
        max-width: 120px;
        font-size: 1rem;
        text-align: center;     
    }
}


@media (min-width: 526px) and (max-width: 776px) {
    .icone-footer {
        display: none;
    }

    .info {
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 400px) {
    .menu {
        align-items: center;
    }

    .botao {   
        font-size: 0.8rem;
        padding: 10px 6px;
        width: 30vw;
        text-align: center;
        margin-top: -30px;
        margin-right: -50px;
        display: block;
    }
}



@media (max-width: 360px) {
    .pergunta {
        width: 250px;
        box-sizing: border-box;    
    }

    .pergunta h3 {
        padding-right: 20px;
        display: block;
    }
}


@media (min-width: 300px) and (max-width: 850px) {
    .botao2 {
        max-width: 150px;
        text-align: center;
    }
}

@media (min-width: 377px) and (max-width: 412px) {
    .cursos-itens {
     
    }
}


/*Necessário sobrescrever os outros medias*/

@media (min-width: 1280px) {
    #sobre {
        margin-left: 10px;
    }
}

@media (min-width: 900px) and (max-width: 1280px) {
    #sobre {
        margin-left: -150px;
    }
}

/*Mobile Geral*/

@media (max-width: 850px) {

    /*HEADER*/

    body {   
        padding-right: 3px;
    }

    .horario {
        margin-left: -50px;
    }

    .icone {
        padding-left: 0px;
        margin-left: -50px;
        display: block;  
    }

    .lista {
        flex: 0 1 200px;
        padding-right: 10px;
        margin-top: -10px;      
    }

    .lista-item {
        display: none;   
    }


    /*CORPOS*/
    
    .corpo, .corpo2, .corpo3, .corpo4 {
        margin-bottom: 50px;
        justify-content: flex-start;
        flex: 1 1 auto;
        margin-left: -60px;
    }


     /*SOBRE*/

     #sobre {
         margin-top: -20px;
         padding-left: 100px;  
     }

     #sobre h2 {
        margin-left: -10px;
    }

    .corpo p {
        margin-right: -120px;
    }

    .corpo h2 {
        padding: 10px; 
    }

    .linha {
        margin-right: 50px;          
    }

    .primeira {
        margin-right: auto;
        margin-left: auto;
    }


    /*CURSOS*/

    .cursos-itens {
        flex: 0 0 auto;
        max-width: 70vw;
        max-height: 90vh;    
        margin: 30px 53px 20px -2px;      
    }

    .corpo2 p {
        margin-bottom: 100px;
        margin-left: 0px;
        margin-top: -80px;
    }

    .botao2 {
        margin-left: 50px;
    }

    
    /*IMAGEM*/

    .imagem, .imagem2 {
        flex-direction: column;
        flex: 1 1 auto;
        max-width: 100vw;      
    } 

    .imagem2 {
        margin-bottom: 20px;
    }


    /*PERGUNTAS*/

    .pergunta {
        flex: 1 0 auto;
        max-width: 70vw;    
        padding: 28px;
        margin: 30px 40px 20px -65px;
    }

    .pergunta h3 {
        font-size: 1.25rem;
        max-width: 500px;
    }

    .pergunta p {
        font-size: 0.8em;
        line-height: 1.5;
    }
 
    /*MATRICULA*/

    #matricula {
        padding-right: 10px;
    }

    label {
        width: 100%;
    }
    
    .email {
        flex: 2 1 100px;
        padding: 10px 20px;
        margin-top: 50px;
        width: 30px;
        height: 30px;
        font-size: 1em;   
    }

    .enviar {
        flex: 2 2 50px;
        width: 30px;
        padding: 10px 20px;
        margin-right: 20px;   
    }

    .corpo4 h2 {
        font-size: 2rem;
    }

    .enviar {
        font-size: 1rem;
    }

    .corpo4 p{
        flex: 1 1 auto;
        max-width: 80vw;
        font-size: 1.3rem;
    }

    /*FOOTER*/

    .footer {
        margin-left: -50px;
    }

    .info {
        flex-direction: column;   
    }
    
    .criado {
        max-width: 100vw;
        margin-top: 30px;
        margin-bottom: -30px;
        flex-direction: row;
    } 
}


/*Abaixo dos 380px*/

@media (max-width: 380px) {
    .enviar, .email {
        padding: 5px;
        font-size: 0.8rem;
        flex-wrap: nowrap;
    }

    .pergunta, .cursos-itens {
        padding: 15px;
    }

    .pergunta h3 {
        font-size: 1.1rem; 
    }

    .matricula {
        text-align: center;
        margin: 0 auto;
    }

    .pergunta::before {
        top: 22px;
        left: 10px;   
        width: 10px;
        height: 4px;
    }

    .p-dois::after {
        right: 20px;
        top: 15px;    
    }
}
